body {
  font-size: 16px;
  max-width: 1200px;
}

* {
  box-sizing: border-box;
}

header {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: black;
}

.height {
  height: 1rem;
}

#top-header {
  background-color: #2d4059;
  border-bottom: 0.4rem solid black;
  padding: 0.8rem 0.4rem;
  display: flex;
}

#top-header div {
  background-color: #ea5455;
  margin: 0 0.4rem;
}

#header-image {
  background-color: #f07b3f;
  padding: 0.8rem 0.8rem;
}

#header-image div {
  background-color: #fed460;
}

#main-section {
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: black;
}

#main-content {
  background-color: #4e4e6a;
  padding: 0.8rem 0.4rem;
  display: flex;
  flex-direction: column;
}

#content-columns {
  display: flex;
  flex-wrap: wrap;
}

.small-article {
  background-color: #1f6cb0;
  margin: 0 0.4rem;
  margin-bottom: 0.8rem;
  flex: 1 1 45%;
}

.regular-article {
  background-color: #70a3c4;
  margin: 0 0.4rem;
}

#aside-bar {
  background-color: #f73f52;
  padding: 0.8rem 0.4rem;
}

#aside-bar p {
  background-color: #feea85;
  margin: 0 0.4rem;
}

#footer-bar {
  padding: 1rem;
  background-color: black;
}

#footer-bar p {
  background-color: #e6af2e;
  margin: 0;
}

/* For desktop: ************************************/
@media only screen and (min-width: 48rem) {
  .header-icon, .header-social {
    flex: 1;
  }

  .header-nav {
    flex: 4;
  }

  #main-content {
    margin-right: 1rem;
    flex: 2;
  }

  #aside-bar {
    flex: 1;
  }

  #aside-bar p {
    margin-bottom: 0.4rem;
  }
}

/* For tablets: ************************************/
@media only screen and (min-width: 30rem) and (max-width: 48rem) {
  body {
    margin: 1.5rem;
  }

  .header-icon, .header-social {
    flex: 1;
  }

  .header-nav {
    flex: 4;
  }

  #main-section {
    flex-direction: column;
    background-color: yellow;
  }

  #main-content {
    margin-bottom: 1rem;
  }

  .small-article-content {
    flex: 1;
  }

  #aside-bar p:first-child {
    margin-bottom: 0.6rem;
  }
}

/* For mobile phones: ******************************/
@media only screen and (max-width: 30rem) {
  body {
    margin: 1.5rem;
  }

  #top-header {
    flex-direction: column;
    border-bottom-width: 1rem;
  }

  #top-header div:first-child {
    margin-bottom: 1rem;
  }

  #top-header div:nth-child(2) {
    margin-bottom: 1rem;
  }

  #main-section {
    flex-direction: column;
    background-color: yellow;
  }

  #main-content {
    margin-bottom: 1rem;
  }

  .small-article{
    flex: 1 1 100%;
  }

  #aside-bar {
    background-color: #fd7b54;
  }

  #aside-bar p:first-child {
    margin-bottom: 0.6rem;
  }
}